:root {
    font-size: 62.5%;
}

* {
    margin: 0;
}

html {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-size: 1rem;
    background-color: black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font: 10px 'Roboto', sans-serif;
}