:root {
    font-size: 62.5%;
}

* {
    margin: 0;
}

html {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-size: 1rem;
    background-color: black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    scroll-snap-type: y mandatory;
    font: 10px 'Roboto', sans-serif;
}

.scroll-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
}

.switch {
    position: relative;
    display: inline-block;
    /* width: 62px; */
    width: 3.85em;
    /* height: 30px; */
    height: 1.9em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    /* margin-top: 20px; */
    margin-top: 1.5em;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: transform .4s;
    border-radius: 34px;
    box-shadow: 0 0 1px #707070;
}

.slider:before {
    position: absolute;
    content: '';
    /* height: 24px; */
    height: 1.5em;
    /* width: 24px; */
    width: 1.5em;
    /* left: 6px; */
    left: .4em;
    /* bottom: 3px; */
    bottom: .2em;
    background-color: black;
    -webkit-transition: 1s;
    transition: transform 1s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: black;
}

input:checked + .slider:before {
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px #707070;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.6em);
    -ms-transform: translateX(1.6em);
    /* transform: translateX(25px); */
    transform: translateX(1.6em);
}

.contactme-div {
    width: 222px;
    height: 58px;
}

.project-panel-container {
    display: flex;
}

.biopanel-right {
    background-size: 100% 101%;
}

.fa-github {
    left: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 1960px) {
    .app-container {
        width: 1920px;
    }
    
    .bio-panel-container,
    .project-panel-container,
    .contact-panel-container {
        height: 1080px;
    }

    .achievement-div {
        top: calc(50% - 450px);
        width: 555px;
        height: 128px;
    }

    .fa-github {
        font-size: 1.7em;
        top: 15%;
    }
}

@media only screen and (max-width: 1959px) {
    .outer-app-container,
    .app-container {
        width: 1800px;
    }
    
    .bio-panel-container,
    .project-panel-container,
    .contact-panel-container {
        height: 1012px;
    }

    .achievement-div {
        top: calc(50% - 435px);
        width: 555px;
        height: 128px;
    }

    .fa-github {
        font-size: 1.6em;
        top: 7px;
        left: 14px;
    }
}

@media only screen and (max-width: 1839px) {
    .app-container {
        width: 1600px;
    }
    
    .bio-panel-container,
    .project-panel-container,
    .contact-panel-container {
        height: 900px;
    }

    body {
        font-size: .9em;
    }

    .achievement-div {
        top: calc(50% - 400px);
        width: 500px;
        height: 118px;
    }

    .contactme-div {
        width: 180px;
        height: 46px;
    }

    .fa-github {
        font-size: 1.5em;
        top: 7px;
        left: 10px;
    }

    .biopanel-right {
        background-size: 600px 1100px;
        background-position: center;
    }
}

@media only screen and (max-width: 1639px) {
    body {
        font-size: .8rem;
    }

    .app-container {
        width: 1440px;
    }
    
    .bio-panel-container,
    .project-panel-container,
    .contact-panel-container {
        height: 810px;
    }

    .achievement-div {
        top: calc(50% - 355px);
        width: 450px;
        height: 100px;
    }

    .contactme-div {
        width: 150px;
        height: 46px;
    }
}

@media only screen and (max-width: 1489px) {
    body {
        font-size: .6rem;
    }

    .app-container {
        width: 1024px;
    }
    
    .bio-panel-container,
    .project-panel-container,
    .contact-panel-container {
        height: 576px;
    }

    .achievement-div {
        top: calc(50% - 260px);
        width: 350px;
        height: 80px;
    }

    .contactme-div {
        width: 130px;
        height: 36px;
    }

    .biopanel-right {
        background-size: 360px 600px;
    }

    .fa-github {
        font-size: 1.2em;
        top: 7px;
    }
}

@media only screen and (max-width: 1063px) {
    body {
        font-size: .5rem;
    }

    .app-container {
        width: 768px;
    }
    
    .bio-panel-container,
    .project-panel-container,
    .contact-panel-container {
        height: 432px;
    }

    .achievement-div {
        top: calc(50% - 205px);
        width: 300px;
        height: 60px;
    }

    .contactme-div {
        width: 100px;
        height: 30px;
    }

    .biopanel-right {
        background-size: 268px 500px;
    }

    .fa-github {
        top: 4px;
        left: 6px;
    }
}

/* @media only screen and (max-width: 807px) {
    body {
        font-size: .2rem;
    }

    .app-container {
        width: 320px;
    }

    .bio-panel-container,
    .project-panel-container,
    .contact-panel-container {
        height: 180px;
    }

    .contactme-div {
        width: 50px;
        height: 15px;
    }
} */