:root {
    font-size: 62.5%;
}

* {
    margin: 0;
}

html {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-size: 1rem;
    background-color: black;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font: 10px 'Roboto', sans-serif;
}

.switch {
    position: relative;
    display: inline-block;
    width: 62px;
    /* width: 50%; */
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    margin-top: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    box-shadow: 0 0 1px #707070;
}

.slider:before {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    left: 6px;
    bottom: 3px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: black;
}

input:checked + .slider:before {
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px #707070;
}

input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

.biopanel-right {
    background-size: 100% 101%;
}

.fa-github {
    left: 15px;
}

@media only screen and (min-width: 1800px) {
    .app-container {
        width: 1920px;
    }
    
    .panel-container {
        height: 1080px;
    }

    .fa-github {
        font-size: 1.7em;
        top: 15%;
    }
}

@media only screen and (max-width: 1799px) {
    .app-container {
        width: 1600px;
    }
    
    .panel-container {
        height: 900px;
    }

    .fa-github {
        font-size: 1.5em;
        top: 7px;
        left: 10px;
    }

    .biopanel-right {
        background-size: 600px 1100px;
        background-position: center;
    }
}

@media only screen and (max-width: 1599px) {
    body {
        font-size: .9rem;
    }

    .app-container {
        width: 1440px;
    }
    
    .panel-container {
        height: 810px;
    }
}

@media only screen and (max-width: 1439px) {
    body {
        font-size: .6rem;
    }

    .app-container {
        width: 1024px;
    }
    
    .panel-container {
        height: 576px;
    }

    .biopanel-right {
        background-size: 360px 600px;
    }

    .fa-github {
        font-size: 1.2em;
        top: 7px;
    }
}

@media only screen and (max-width: 1023px) {
    body {
        font-size: .5rem;
    }

    .app-container {
        width: 768px;
    }
    
    .panel-container {
        height: 432px;
    }

    .biopanel-right {
        background-size: 268px 500px;
    }

    .fa-github {
        top: 4px;
        left: 6px;
    }
}

@media only screen and (max-width: 767px) {
    .app-container {
        width: 320px;
    }
    
    .panel-container {
        height: 180px;
    }
}